body {
	background-color: rgba(226, 225, 228, 1.0);
	color: rgba(19, 17, 36, 1.0);
}

a:hover {
	text-underline-position: from-font;
	text-underline-offset: 1px;
}
b, strong {
	font-weight: bolder;
}

.markdown-body {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.markdown-body h1 {
	margin-top: 80px;
	margin-bottom: 50px;
}
.markdown-body h2 {
	margin-top: 50px;
	margin-bottom: 30px;
}
.markdown-body h1, .markdown-body h2 {
	border-bottom: 1px solid rgba(19, 17, 36, 1.0);
}
.markdown-body table {
	display: table;
	margin-left: auto;
	margin-right: auto;
}
.markdown-body img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.markdown-body blockquote {
	padding: 5px 10px;
	border-left: 0.25em solid rgba(97, 113, 114, 1.0);
	box-shadow: 2px 2px 5px rgba(97, 113, 114, 0.5);
	color: rgba(97, 113, 114, 1.0);
}
.markdown-body table {
	box-shadow: 2px 2px 5px rgba(97, 113, 114, 0.5);
}

.markdown-body .headerInfo {
	padding-top: 50px;
	text-align: center;
}
.markdown-body .backlink {
	margin-top: 30px;
	margin-bottom: 30px;
	border-top: none;
	text-align: center;
	font-size: 1.2em;
	font-weight: bolder;
}

.navHeader {
	font-weight: bolder;
}
.bottomButton {
	position: fixed;
	left: calc(50% + 516px);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(238, 247, 242, 1.0);
	box-shadow: 2px 2px 5px rgba(97, 113, 114, 0.5);
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
	line-height: 37px;
	cursor: pointer;
	user-select: none;
}
.bottomButton.upper {
	bottom: 60px;
}
.bottomButton.themer {
	bottom: 10px;
}
.footnote {
	border-top: 1px solid rgba(19, 17, 36, 1.0);
	font-size: 12px;
	font-weight: lighter;
	text-align: center;
}
@media (max-width: 1152px) {
	.bottomButton {
		left: auto;
		right: 10px;
	}
}

body.theme_dark {
	background-color: rgba(29, 30, 27, 1.0);
	color: rgba(234, 238, 219, 1.0);
}
.theme_dark .markdown-body h1, .theme_dark .markdown-body h2 {
	border-bottom: 1px solid rgba(236, 238, 219, 1.0);
}
.theme_dark a,
.theme_dark .markdown-body pre,
.theme_dark .markdown-body blockquote,
.theme_dark .markdown-body table {
	filter: invert(1);
}
.theme_dark .markdown-body pre,
.theme_dark .markdown-body table {
	color: rgba(19, 17, 36, 1.0);
}
.theme_dark .bottomButton {
	background-color: rgba(17, 8, 13, 1.0);
	box-shadow: 2px 2px 5px rgba(158, 142, 141, 0.5);
}
.theme_dark .footnote {
	border-top: 1px solid rgba(236, 238, 219, 1.0);
}